<div ng-repeat="item in data.results" class="story panel panel-default">
  <div class="panel-body">
    <div class="story__img">
      <span ng-if="item.fields.liveBloggingNow === 'true'" class="story__live">Live</span>
      <span ng-if="item.fullStory === 'true'" class="story__full">Full Story</span>
      <span ng-if="item.fullStory === undefined" class="story__full">External Link</span>
      <img ng-if="item.fields.thumbnail !== undefined" ng-src="{{item.fields.thumbnail}}"/>
    </div>
    <a ng-if="item.fullStory === 'true'" ng-href="#/story/{{item.id}}"><strong ng-bind="item.webTitle"></strong></a>
    <a ng-if="item.fullStory === undefined" ng-href="{{item.webUrl}}"><strong ng-bind="item.webTitle"></strong><span class="glyphicon glyphicon-link"></span></a>
    <p ng-bind="item.fields.trailText | htmlToText"></p>
  </div>
</div>