<div ng-repeat="item in data.results" class="story">
  <div class="story-container">
    <div class="image-container">
      <span ng-if="item.fields.liveBloggingNow === 'true'" class="livelink">Live</span>
      <span ng-if="item.fullStory === 'true'" class="noStoryError">Full Story</span>
      <span ng-if="item.fullStory === undefined" class="noStoryError">External Link</span>
      <img ng-if="item.fields.thumbnail !== undefined" ng-src="{{item.fields.thumbnail}}"/>
    </div>
    <a class="webTitle" ng-if="item.fullStory === 'true'" ng-href="#/story/{{item.id}}" ng-bind="item.webTitle"></a>
    <a class="webTitle" ng-if="item.fullStory === undefined" ng-href="{{item.webUrl}}" ng-bind="item.webTitle"><span class="glyphicon glyphicon-link"></span></a>
  
  </div>
</div>



